/* Computer */
.grid_1 { width: 6.5%; } 
.grid_2 { width: 15%; } 
.grid_3 { width: 23.5%; } 
.grid_4 { width: 32%; } 
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; } 
.grid_7 { width: 57.5%; } 
.grid_8 { width: 66%; } 
.grid_9 { width: 74.5%; } 
.grid_10 { width: 83%; } 
.grid_11 { width: 91.5%; } 
.grid_12 { width: 100%; } 

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 20px 20px 0;
	float: left;
	display: block;
}

.alpha			{margin-left:0;}
.omega			{margin-right:0;}
.gallery-list 	{margin:0 -25px 0 0;padding:0;}

.container{
	width: 1000px;
	max-width: 1000px;
	margin: auto;
	
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{position:relative;z-index:99;clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}


@media only screen and (min-width: 767px) and (max-width: 1023px) {
	
	.filtr_bg {width:385px;font-size:14px;}
	#slide1 h1 {font-size:36px;line-height:42px;}
	#slide1 h2 {font-size:24px;line-height:28pxpx;}
	
	.padding_slide1 {padding:150px 0 30px;}
		
	.gallery-list {margin-left:117px;}
	
	#slide3 p, #slide5 p, #slide7 p {font-size:40px;line-height:45px;}
	
	#slide4 .hover_img {width:228px;height:208px;}
	#slide4 .omega {margin-right:20px;}
	
	.foot_block_intouch li {margin-right:12px;}

/* ___________ SERV_BLOCK __________ */
	
	
/* __________ //SERV_BLOCK _________ */

/* _____________ menu ______________ */
	.navigation li {margin-left:20px;}
/* ____________ //menu _____________ */
	
	.container { width: 724px; }
	.container .alpha        { margin-left: 0; margin-right: 5px; }
	.container .omega        { margin-right: 0; }
	.container .respond_pad {padding-right:20px;}
	
	.grid_3			{ width: 166px; }
	.grid_4			{ width: 228px; }
	.grid_5      		{ width: 290px; }
	.grid_6      		{ width: 352px; }
	.grid_7   		{ width: 414px; }
	.grid_8   		{ width: 475px; }
	.grid_9			{ width: 538px; }
	.grid_12		{ width: 724px; }
}

@media only screen and (max-width: 766px) {
	.menu {height:116px;}
	
	img.about_img {float:none;margin:0 0 10px 0;}

	.navigation li span {display:none;}
	
	#slide6 .effect_2 {display:none;}

}

@media only screen and (min-width: 480px) and (max-width: 766px) {
	.menu {height:116px;position:fixed;}
	#undefined-sticky-wrapper {height:0 !important;}
	
	#logo {text-align:center;}
	
	.padding_slide1 {padding:188px 0 100px;}
	.mac_block img {display:none;}
	
	.filtr_bg {width:385px;font-size:14px;}
	#slide1 h1 {font-size:36px;line-height:42px;}
	#slide1 h2 {font-size:24px;line-height:28px;}
	
	h1 {margin-top:30px;font-size:60px;}
	
	.gallery-list .grid_3 {margin-left:0;}
	#filters li a {padding:0 5px;font-size:13px;}
		
	#slide5 .bottom_center_bg img {bottom:-60px;}
	#slide7 .bottom_center_bg img {bottom:-60px;}
	
		

/* ___________ SERV_BLOCK __________ */
	.serv_block p {padding-bottom:20px;}
/* __________ //SERV_BLOCK _________ */

/* _____________ menu ______________ */
	#nav {margin:0;}
	.navigation li {padding:8px 0 7px;}
	ul.navigation {float:none;margin:0;}
/* ____________ //menu _____________ */	

	.container { width: 420px; }
	
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {width:420px;}
	
	.fright{float:none;}
	.fleft{float:none;}
	
}

@media screen and (max-width : 479px) {	
	.menu {height:130px;position:fixed;}
	
	#logo {text-align:center;}
	
	.padding_slide1 {padding:155px 0 30px;}
	
	#undefined-sticky-wrapper {height:0 !important;}
	
	#logo {text-align:center;}
	
	.padding_slide1 {padding:188px 0 100px;}
	.mac_block img {display:none;}

	.filtr_bg {width:100%;font-size:14px;}
	#slide1 h1 {font-size:28px;line-height:36px;}
	#slide1 h2 {font-size:19px;line-height:28px;}
	
	h1 {margin-top:30px;font-size:40px;}
	h4 {font-size:24px;}
	
	#filters li a {padding:5px 10px;}
	
	.gallery-list .grid_3 {margin-left:32px;}
	
	.serv_block p {font-size:22px;}
	
	.contact_form input[type="text"], .contact_form textarea {width:88%;}
	

/* ___________ SERV_BLOCK __________ */
		
/* __________ //SERV_BLOCK _________ */
/* _____________ menu ______________ */
	#nav {margin:0;}
	.navigation li {padding:15px 0 15px;margin-left:12px;font-size:13px;}
/* ____________ //menu _____________ */	
	.container { width: 300px; }

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:300px;
	}
	
	.fright{float:none;}
	.fleft{float:none;}

}
















