/* Global */

body {
	font-family:'Myriad Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height:20px;
	color: #ffffff;
    text-shadow: 3px 3px 3px #3e3e3e;
	background-color:#ffffff;
	overflow-x:hidden;
}
::selection {
	background: #7cb289;
	color:#fff;
}
::-moz-selection {
	background: #7cb289; /* Firefox */
	color:#fff;
}
img {
	max-width: 100%;
}
a:link {
	color: #7cb289;
	text-decoration: none;
}
a:hover {
	color:#7cb289;
}
a:visited {
	color: #7cb289;
	text-decoration: none;
}

.fright{float:right;
}
.fleft{float:left;
}



/* Navigation */

.menu {
	position:relative;
	top:0px;
	width:100%;
	height:76px;
	background:url(../images/menu_bg.jpg) repeat left top;
	z-index:9999;
}
#logo {
	margin-bottom:0;
	margin-left:-5px;
}

#nav {
	text-align: right;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
ul.navigation {
	margin:0;
	padding:0;
}
.navigation li{
	float: left;
	text-align:left;
	padding:30px 0 26px 0;
	margin-left:30px;
	text-transform:uppercase;
	background:none;
	font-family: 'Maven Pro', sans-serif;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	color:#9b9b9b;
	transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
}
.navigation li:first-child{margin-left:0;}
.navigation li:hover,
.navigation .active {
	cursor:pointer;
	color: #fff;
}

.lima{

    margin-bottom: 10px;
    margin-top: 10px;

}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	padding:0;
}
h1 {
	margin:0 0 15px 0;
	text-transform:uppercase;
	text-align:left;
	background:none;
	font-family: 'Maven Pro', sans-serif;
	font-size: 91px;
	line-height: 86px;
	color:#343434;
	font-weight: 700;
}

h4 {
	margin:0;
	padding:0 0 4px 0;
	text-transform:uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-weight:400;
	font-size:32px;
	font-style:normal;
	line-height:66px;
	color:#ffffff;
}
h5 {
	margin:0;
	padding:0 0 4px 0;
	text-transform:none;
	font-family: 'Arial', sans-serif;
	font-weight:400;
	font-size:18px;
	line-height:20px;
	color:#ffffff;
}
img.icon_img {
	float:left;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:25px;
}

.effect_2 {
	background:url(../images/effect_2.png) repeat left top;
	position:relative;
	top:0;
	bottom:-57px;
	height:100%;
	z-index:999 !important;
}

/* ____________________________________ Slide 1 ____________________________________ */ 

.padding_slide1 {padding:108px 0 210px 0;
}




@-webkit-keyframes arrow{
    0%, 20%, 50%, 80%, 100%	{ -webkit-transform: translateX(0em); }
    40%						{ -webkit-transform: translateX(-0.25em); }
    60%						{ -webkit-transform: translateX(-.15em); }
}
@-webkit-keyframes arrow-chrome{
    0%, 20%, 50%, 80%, 100%	{ -webkit-transform: translate(0em,-1em); }
    40%						{ -webkit-transform: translate(-0.25em,-1em); }
    60%						{ -webkit-transform: translate(-.15em,-1em); }
}

@-moz-keyframes arrow{
    0%, 20%, 50%, 80%, 100%	{ -moz-transform: translateX(0); }
    40%						{ -moz-transform: translate(-0.25em,-1em); }
    60%						{ -moz-transform: translateX(-.15em); }
}


@-o-keyframes arrow{
    0%, 20%, 50%, 80%, 100%	{ -o-transform: translateX(0); }
    40%						{ -o-transform: translateX(-0.25em); }
    60%						{ -o-transform: translateX(-.15em); }
}

@keyframes arrow{
    0%, 20%, 50%, 80%, 100%	{ transform: translateX(0); }
    40%						{ transform: translateX(-0.25em); }
    60%						{ transform: translateX(-.15em); }
}

.green:hover{
    border:0.0625em solid rgba(0,214,96,1);
    background:rgba(0,214,96,0.75);
    color:rgba(0,214,96,0.75);
}

.green:hover:before{
    border:0.0625em solid rgba(0,214,96,1);
    color:rgba(0,214,96,1);
}

.green:hover:after{
    border:0.0625em solid rgba(0,214,96,1);
    color:rgba(0,214,96,1);
    background:rgba(0,214,96,1);
}

.green:before{
    background:rgba(0,214,96,1);
    border:0.0625em solid rgba(0,214,96,1);
}

.green:after{
    background:rgba(0,214,96,1);
    border:0.0625em solid rgba(0,214,96,1);
}


.angle-double{
    position:relative;
    display: inline-block;
    margin:0em .5em;
    padding:0.25em 0.5em 0.25em 0.5em ;
    color:#fff;
    text-decoration:none;
    overflow:hidden;
    z-index:1;
    -webkit-transition:all 0.25s ease;
    -moz-transition:all 0.25s ease;
    -mos-transition:all 0.25s ease;
    -o-transition:all 0.25s ease;
    transition:all 0.25s ease;
    border:0.0625em solid #fff;
    cursor: pointer;
}

.angle-double:hover{
    color:#fff;
    padding:0.25em 2em 0.25em 0.5em ;
}

.angle-double:after{
    position: absolute;
    right:0.25em;
    content: "->";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    padding-left:5px;
    background:none;
    border:none;
    color:rgba(255,255,255,0);
}

.angle-double:hover:after{
    border:none;
    background:none;
    color:rgba(255,255,255,1);
    -webkit-animation: arrow 1s ease infinite;
    -moz-animation: arrow 1s ease infinite;
    -mos-animation: arrow 1s ease infinite;
    -o-animation: arrow 1s ease infinite;
    animation: arrow 1s ease infinite;
}


#slide1{
	background-image:url(../images/slide1_bg1.jpg);
	background-size: cover !important;
	width:100%;
	text-align:left;
}
.mac_block {
	position:relative;
}
.mac_block img {
	position:absolute;
	top:0;
	left:-105px;
	z-index:10;
}
.filtr_bg {
	float:right;
	position:relative;
	z-index:100;
	width:620px;
	font-size:18px;
	line-height:21px;
    background-color: rgba(0,0,0, 0.35);
    border-radius: 10%;
    text-align: justify;
}
#slide1 h1 {
	margin:0;
	padding:0;
	text-transform:uppercase;
	text-align:left;
	font-family: 'Maven Pro', sans-serif;
	font-size: 59px;
	line-height: 66px;
	color:#2b2b2b;
	font-weight: 900;
}
#slide1 h2 {
	margin:0;
	padding:9px 0 15px 0;
	text-align:left;
	font-family: "Monotype Corsiva","arial", sans-serif ;
	font-size: 39px;
	line-height: 56px;
	color:azure;
	font-weight: 700;
}



/* ____________________________________ Slide 2 ____________________________________ */ 

#slide2 {
	background:url(../images/slide2_bg1.jpg);
	padding:86px 0 69px;
    background-size: cover !important;
}
#slide2 h5 {padding:0 0 13px;}

.grid_5 img {
    width: 55%;
    height: 55%;
}

#slide2 .hover_img {
    overflow:hidden;
    position:relative;
    height:211px;
    width:235px;
    background: #464641;
}


/* ___________________________________ //Slide 2 ___________________________________ */ 







/* ____________________________________ Slide 4 ____________________________________ */ 

#slide4 {
	background:url(../images/slide4_bg.jpg) repeat left top;
	padding:86px 0 69px;
}



/* _________________ PORTFOLIO ________________ */
.gallery-list .grid_3 {width:235px !important;}

#slide2 .hover_img {
	overflow:hidden;
	position:relative;
	height:211px;
	width:235px;
	background:#343434;
}

.portfolio_zoom, .portfolio_link {
	width:40px;
	height:40px;
	position:absolute;
	bottom:33px;
	background-repeat:no-repeat;
	transition: bottom 0.7s ease-in-out;
	-moz-transition: bottom 0.7s ease-in-out;
	-webkit-transition: bottom 0.7s ease-in-out;
	-o-transition: bottom 0.7s ease-in-out;
}
.portfolio_zoom {
	bottom:-60px;
	left:81px;
	background-image:url(../images/zoom.png);
	background-position:0 0;
	z-index:302;
}
.portfolio_link {
	bottom:-60px;
	right:74px;
	background-image:url(../images/link.png);
	background-position:0 0;
	z-index:303;
}
.portfolio_zoom:hover, .portfolio_link:hover {
	background-position:0 -40px;
	background-color:#7cb289;
	z-index:310;
}
.portfolio_zoom a, .portfolio_link a {
	display:block;
	width:54px;
	height:54px;
	text-indent:-9999px;
}
.hover_img:hover .portfolio_zoom, 
.hover_img:hover .portfolio_link {
	bottom:33px;
}
.item_description {
	position:absolute;
	top:-122px;
	left:0;
	right:0;
	padding:25px 21px;
	text-align:center;
	color:#7e7e7e;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
}
.hover_img:hover .item_description {
	top:0;
}

.item_description p {
	padding:0 0 9px 0;
	margin:0 0 13px;
	border-bottom:1px solid #464646;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	color: #7cb289;
	line-height: 26px;
	font-weight: 400;
	text-transform:uppercase;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


/* _________ FILTER ________ */
#filters {margin-bottom:37px;margin-top:34px;}
#filters li {display:inline-block;}
#filters li a {
	display:block;
	margin:0 10px 10px 0;
	padding:10px 21px;
	text-transform:uppercase;
	font-family:'Arial';
	font-weight:400;
	font-size:16px;
	line-height:26px;
	color:#3e3e3e;
	background:#7cb289;
	border-bottom:1px solid #343434;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
#filters li a:hover,
#filters li a.selected {
	text-decoration:none;
	color:#fff;
	background:#343434;
}

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.element {
  overflow: hidden;
  position: relative;
}
.element img {max-width:100%;
}

/* ________ //FILTER _______ */

/* ________________ //PORTFOLIO _______________ */

/* ___________________________________ //Slide 4 ___________________________________ */ 







/* ____________________________________ Slide 6 ____________________________________ */
#slide6 .hover_img {
    overflow:hidden;
    position:relative;
    height:211px;
    width:235px;
    background: #464641;
}

#slide6 {
	background:url(../images/slide6_bg1.jpg);
    background-size: cover !important;
	padding:86px 0 69px;
}
#slide6 h5 {margin-bottom:39px;
}
.serv_block {
	display:block;
	position:relative;
	margin-bottom:13px;
	font-family: 'Arial', sans-serif;
	color:#3e3e3e;
}

.grid_5_1 img{
    width: 50%;
    height: 50%;
}

.iconimg, .iconimg_h {
	float:left;
	margin-right:15px;
	position:absolute;
}

.iconimg_h {
	opacity:0;
	filter: alpha(opacity=0);
	/* safari / chrome */
	-webkit-animation-name:rotater;
	-webkit-animation-duration:500ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: ease-out;

	/* mozilla */
	-moz-transform: scale(0);
	-moz-transition-duration:500ms;
	-moz-transition-timing-function: ease-out;

	/* opera */
	-o-transform: scale(0);
	-o-transition-duration:500ms;
	-o-transition-timing-function: ease-out;

	/* ie */
	-ms-transform: scale(0);
	-ms-transform-duration:500ms;
	-ms-transform-timing-function: ease-out;
}

.serv_block:hover .iconimg {
	opacity:0;
	filter: alpha(opacity=0);
	/* safari / chrome */
	-webkit-animation-name:rotater;
	-webkit-animation-duration:900ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: ease-out;

	/* mozilla */
	-moz-transform: scale(2);
	-moz-transition-duration:900ms;
	-moz-transition-timing-function: ease-out;

	/* opera */
	-o-transform: scale(2);
	-o-transition-duration:900ms;
	-o-transition-timing-function: ease-out;

	/* ie */
	-ms-transform: scale(2);
	-ms-transform-duration:900ms;
	-ms-transform-timing-function: ease-out;
}
.serv_block:hover .iconimg_h {
	opacity:1;
	filter: alpha(opacity=100);
	/* safari / chrome */
	-webkit-animation-name:rotater;
	-webkit-animation-duration:900ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: ease-out;

	/* mozilla */
	-moz-transform: scale(1);
	-moz-transition-duration:900ms;
	-moz-transition-timing-function: ease-out;

	/* opera */
	-o-transform: scale(1);
	-o-transition-duration:900ms;
	-o-transition-timing-function: ease-out;

	/* ie */
	-ms-transform: scale(1);
	-ms-transform-duration:900ms;
	-ms-transform-timing-function: ease-out;
}

.serv_block p {
	margin:0;
	padding:0 17px 15px 54px;
	text-transform:uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-weight:400;
	font-size:28px;
	line-height:40px;
	color:#3e3e3e;
}



/* ___________________________________ //Slide 6 ___________________________________ */






/* ____________________________________ FOOTER ____________________________________ */
#footer {
	background:url(../images/menu_bg.jpg) repeat left top;
	padding:27px 0 23px;
}
.copyright {
	float:left;
	text-transform:uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-weight:300;
	color:#979797;
}
.copyright a {
	color:#fff;
}
.copyright a:hover {text-decoration:none;color:#7cb289;
}

/* _____________ BACK_TOP ___________ */
#back_top {
	float:right;
}
#back_top a.button {
	cursor:pointer;
	position:relative;
	z-index:300;
	display:block;
	background:url(../images/back_top_bg.png) no-repeat top right;
	margin:0;
	padding-right:20px;
	width:93px;
	height:20px;
	text-transform:uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-weight:300;
	color:#979797;
}
#back_top a.button:hover {text-decoration:none;}
/* ____________ //BACK_TOP __________ */

/* ___________________________________ //FOOTER ___________________________________ */




.projects{
    max-height: 300px;
}






