<head>
    <meta charset="utf-8"/></head>
        <body>
<div >
    <p style="float: left; text-align: left">10029, Украина, г. Житомир,<br>
        ул. Восточная, 80, офис 4.<br>
        тел: +38 (0412) 36-22-66,<br>
        +38 067 230-25-75+38<br>
        факс: (0412) 36-04-95<br>
        почта: info@sever-stal.com.ua
    </p><br><br><br><br><br><br><br><br><br>

<p style="text-align: center">Уважаемый %name%</p><br>
            <p style="text-indent: 20px">
                Здравствуйте, мы рады что Вы обратились в нашу компанию! В ближайшее время с Вами свяжется наш представитель, на указанную Вами электронную почту (%mail%), для последующего обсуждения заказа.
            </p><br><br><br>
            <p>С уважением, Север-Сталь Конструкция</p>
        </div>
        </body>